# Oulad Split Dataset By Module

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#### Import GDrive files

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
cd 'drive/My Drive/Colab Notebooks/4th year project/OULAD dataset/ouladModule'

[Errno 2] No such file or directory: 'drive/My Drive/Colab Notebooks/4th year project/OULAD dataset/ouladModule'
/content/drive/My Drive/Colab Notebooks/4th year project/OULAD dataset/ouladModule

In [ ]:
ls

oulad_AAA.csv  oulad_CCC.csv  oulad_EEE.csv  oulad_GGG.csv
oulad_BBB.csv  oulad_DDD.csv  oulad_FFF.csv

#### Load dataset

In [ ]:
deadline = [220]

In [ ]:
oulad_dataset_combined_df = pd.read_csv(f'../../OULAD dataset/Deadline/oulad_dataset_combined_{deadline[0]}.csv')
sns.set(rc={'figure.figsize':(11.7,8.27)})

In [ ]:
oulad_dataset_combined_df.head(20)

   code_module code_presentation  id_student  ... subpage    url sum_click
0          AAA             2013J       11391  ...    30.0    5.0     786.0
1          AAA             2013J       28400  ...    87.0   48.0    1396.0
2          AAA             2013J       31604  ...   136.0   90.0    1772.0
3          AAA             2013J       32885  ...    65.0   11.0     909.0
4          AAA             2013J       38053  ...    89.0   43.0    2180.0
5          AAA             2013J       45462  ...    98.0   24.0    1321.0
6          AAA             2013J       45642  ...    93.0   47.0    1137.0
7          AAA             2013J       52130  ...   192.0  126.0    1669.0
8          AAA             2013J       57506  ...   121.0   60.0    1201.0
9          AAA             2013J       58873  ...   104.0   75.0    1573.0
10         AAA             2013J       59185  ...    99.0   31.0     988.0
11         AAA             2013J       62155  ...    50.0    5.0    2655.0
12         AAA             2013J       63400  ...   191.0  116.0    2487.0
13         AAA             2013J       70464  ...    50.0   25.0    1014.0
14         AAA             2013J       74372  ...    22.0    2.0     111.0
15         AAA             2013J       75091  ...   157.0   55.0    2525.0
16         AAA             2013J       77367  ...    67.0   28.0     619.0
17         AAA             2013J       91265  ...   111.0   39.0    1429.0
18         AAA             2013J       98094  ...   189.0   18.0    2789.0
19         AAA             2013J      100893  ...    63.0   22.0     602.0

[20 rows x 33 columns]

In [ ]:
oulad_dataset_combined_df.code_module.value_counts()

BBB    5315
FFF    5026
DDD    3761
CCC    2250
GGG    2155
EEE    2078
AAA     601
Name: code_module, dtype: int64

#### Split by module

In [ ]:
modules = oulad_dataset_combined_df.code_module.unique()

In [ ]:
for module in modules:
  module_df = oulad_dataset_combined_df.loc[oulad_dataset_combined_df['code_module'] == module]
  print(f"Module {module}")
  print(module_df['code_presentation'].value_counts())
  print("")
  module_df.drop('code_module', axis=1)
  module_df.to_csv(f'oulad_{module}_{deadline[0]}.csv', index=False)

Module AAA
2013J    309
2014J    292
Name: code_presentation, dtype: int64

Module BBB
2013J    1531
2014J    1508
2013B    1198
2014B    1078
Name: code_presentation, dtype: int64

Module CCC
2014J    1307
2014B     943
Name: code_presentation, dtype: int64

Module DDD
2013J    1183
2014J    1085
2013B     806
2014B     687
Name: code_presentation, dtype: int64

Module EEE
2014J    828
2013J    754
2014B    496
Name: code_presentation, dtype: int64

Module FFF
2013J    1515
2014J    1424
2013B    1119
2014B     968
Name: code_presentation, dtype: int64

Module GGG
2013J    847
2014B    704
2014J    604
Name: code_presentation, dtype: int64